<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
	<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="Logs/Paradise.Client.log" />
		<staticLogFileName value="true" />
		<preserveLogFileNameExtension value="true" />
		<appendToFile value="false" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="512KB" />
		<rollingStyle value="Composite" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="[%date{yyyy-MM-ddTHH:mm:ss.fffZ}] [%p] %m%n" />
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="LogFileAppender" />
	</root>
</log4net>
