<?xml version="1.0" encoding="utf-8"?>

<Configuration>
	<ParadiseApplication
		DisplayName="Paradise">
		<UDPListeners>
			<!--
				If you're hosting a game server and wish to connect 
				to the official Paradise Master server, wrap the
				UDPListener for Paradise.Realtime.Comm in a comment
				to disable it. Do the same for the Application object below.
				
				For more details, see https://github.com/SniperGER/wiki_test/wiki/ServerMultiServerSetup.
			-->
			<UDPListener
				IPAddress="0.0.0.0"
				Port="5055"
				OverrideApplication="Paradise.Realtime.Comm">
			</UDPListener>

			<UDPListener
				IPAddress="0.0.0.0"
				Port="5155"
				OverrideApplication="Paradise.Realtime.Game">
			</UDPListener>
		</UDPListeners>

		<Runtime
			Assembly="PhotonHostRuntime, Culture=neutral"
			Type="PhotonHostRuntime.PhotonDomainManager"
			UnhandledExceptionPolicy="Ignore">
		</Runtime>

		<Applications Default="Paradise.Realtime.Game">
			<Application
				Name="Paradise.Realtime.Comm"
				BaseDirectory="Paradise.Realtime"
				Assembly="Paradise.Realtime"
				Type="Paradise.Realtime.Server.Comm.CommServerApplication"
				ForceAutoRestart="false">
			</Application>

			<Application
				Name="Paradise.Realtime.Game"
				BaseDirectory="Paradise.Realtime"
				Assembly="Paradise.Realtime"
				Type="Paradise.Realtime.Server.Game.GameServerApplication"
				ForceAutoRestart="false">
			</Application>
		</Applications>
	</ParadiseApplication>
</Configuration>
