<?xml version="1.0" encoding="utf-8"?>

<Configuration>
	<ParadiseApplication
		DisplayName="Paradise">
		<UDPListeners>
			<UDPListener
				IPAddress="0.0.0.0"
				Port="5055"
				OverrideApplication="Paradise.Realtime.Comm">
			</UDPListener>

			<UDPListener
				IPAddress="0.0.0.0"
				Port="5155"
				OverrideApplication="Paradise.Realtime.Game">
			</UDPListener>
		</UDPListeners>

		<Runtime
			Assembly="PhotonHostRuntime, Culture=neutral"
			Type="PhotonHostRuntime.PhotonDomainManager"
			UnhandledExceptionPolicy="Ignore">
		</Runtime>

		<Applications Default="Paradise.Realtime.Comm">
			<Application
				Name="Paradise.Realtime.Comm"
				BaseDirectory="Paradise.Realtime"
				Assembly="Paradise.Realtime"
				Type="Paradise.Realtime.Server.Comm.CommApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application>

			<Application
				Name="Paradise.Realtime.Game"
				BaseDirectory="Paradise.Realtime"
				Assembly="Paradise.Realtime"
				Type="Paradise.Realtime.Server.Game.GameApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application>
		</Applications>
	</ParadiseApplication>
</Configuration>
