<?xml version="1.0" encoding="Windows-1252"?>

<Configuration>
	<ParadiseApplication
		DisplayName="Paradise">
		<UDPListeners>
			<UDPListener
				IPAddress="0.0.0.0"
				Port="5055"
				OverrideApplication="Paradise.Realtime.Server.Comm">
			</UDPListener>

			<UDPListener
				IPAddress="0.0.0.0"
				Port="5056"
				OverrideApplication="Paradise.Realtime.Server.Game">
			</UDPListener>
		</UDPListeners>

		<Runtime
			Assembly="PhotonHostRuntime, Culture=neutral"
			Type="PhotonHostRuntime.PhotonDomainManager"
			UnhandledExceptionPolicy="Ignore">
		</Runtime>

		<Applications Default="Paradise.Realtime.Server.Comm">
			<Application
				Name="Paradise.Realtime.Server.Comm"
				BaseDirectory="Paradise.Realtime"
				Assembly="Paradise.Realtime"
				Type="Paradise.Realtime.Server.Comm.CommApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application>

			<Application
				Name="Paradise.Realtime.Server.Game"
				BaseDirectory="Paradise.Realtime"
				Assembly="Paradise.Realtime"
				Type="Paradise.Realtime.Server.Game.GameApplication"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application>
		</Applications>
	</ParadiseApplication>
</Configuration>
